$color-brand-aqua: #25bebc;
$color-brand-blue-light: #1a76af;
$color-brand-blue-medium: #1a76af;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #a70062;
$color-brand-footer-background: #a70062;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: #a70062;
$color-header-links: white;

$color-button-background: $color-brand-blue-medium;
